.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
.run
/out
*.iws
*.iml
*.ipr
**/application-local.yaml
**/application-local-*.yaml
**/logback-spring-*.xml

/target
.DS_Store
