server:
  port: 8080

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info

springdoc:
  packagesToScan: uk.gov.hmcts.idam.userprofilebridge.controllers
  writer-with-order-by-keys: true

idam:
  api:
    url: http://idam-api
  legacy:
    password-grant:
      registration-reference: rd-userprofile-api
      endpoint-regex: (/v1/userprofile|/refdata/).*
      service-account:
        email-address: dummy
        password: dummy
  oidc:
    client-credentials:
      registration-reference: idam-user-profile-bridge
      endpoint-regex: /api/v2/.*
  s2s-auth:
    microservice: idam-user-profile-bridge
    totp_secret: dummy
    url: dummy
    endpoint-regex: (/v1/userprofile|/refdata/).*
  messaging:
    subscription:
      add-user: idam-add-user/Subscriptions/idam-add-user
      modify-user: idam-modify-user/Subscriptions/idam-modify-user
      remove-user: idam-remove-user/Subscriptions/idam-remove-user
  bridge:
    targets:
      rd:
        excluded-event-client-ids:

rd:
  userprofile:
    api:
      url: dummy
  caseworker:
    api:
      url: dummy
  judicial:
    api:
      url: dummy

cft:
  categories:
    role-patterns:
      judiciary:
        - judiciary
      caseworker:
        - caseworker-.*
        - caseworker
        - cwd-user
      professional:
        - pui-.*
        - solicitor
      citizen:
        - citizen

spring:
  config:
    import: "optional:configtree:/mnt/secrets/idam-idam/"
  application:
    name: idam-user-profile-bridge
  jms:
    servicebus:
      connection-string: Endpoint=sb://idam-servicebus-preview.servicebus.windows.net/
      topic-client-id: 1c4f0704-a29e-403d-b719-b90c34ef14c9
      pricing-tier: standard
      passwordless-enabled: true
      namespace: idam-servicebus-preview
      idle-timeout: 1800000 #ms
      pool:
        enabled: true
        max-connections: 20
  artemis:
    mode: embedded
    embedded:
      enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://idam-web-public/o/jwks
      client:
        registration:
          idam-user-profile-bridge:
            authorization-grant-type: client_credentials
            client-id: idam-user-profile-bridge
            client-secret: dummy
            client-authentication-method: client_secret_post
            redirect-uri: https://idam-user-profile-bridge
            scope:
              - view-user
          rd-userprofile-api:
            authorization-grant-type: password
            client-id: idam-user-profile-bridge
            client-secret: dummy
            client-authentication-method: client_secret_post
            scope:
              - openid
              - profile
              - roles
        provider:
          idam-user-profile-bridge:
            token-uri: http://idam-web-public/o/token
          rd-userprofile-api:
            token-uri: http://idam-web-public/o/token
  cloud:
    openfeign:
      client:
        config:
          default:
            errorDecoder: uk.gov.hmcts.cft.idam.api.v2.common.error.SpringWebClientErrorDecoder
            retryer: uk.gov.hmcts.cft.idam.api.v2.common.error.SpringWebClientRetryer
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DATASOURCE_HOST}:${DATASOURCE_PORT}/${DATASOURCE_DATABASE}?sslmode=require&stringtype=unspecified
    username: dummy
    password: dummy
    properties:
      charSet: UTF-8
    hikari:
      minimumIdle: 2
      maximumPoolSize: 10
      idleTimeout: 10000
      poolName: HikariCP
      maxLifetime: 7200000
      connectionTimeout: 30000
  jpa:
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            # silence the 'wall-of-text' - unnecessary exception throw about blob types
            non_contextual_creation: true
  jackson:
    default-property-inclusion: non_null

featureFlags:
  s2sTestingSupportEnabled: false

scheduler:
  enabled: true
  initialDelayMs: 60000
  invitations:
    triggerFrequencyMs: 900000
    invitations-since-duration: 15m
    batch-size: 100
